<div id="scroll-container">
  <div class="cover">
    <div class="cover-container">
      <div class="icons">
        <div class="paper-icon">
          <a href="https://arxiv.org/abs/1706.03825">
            <img src="images/guided_ig_paper_icon.png" style="width: 100px"/><br>Paper
          </a>
        </div>
        <div class="paper-icon" style="margin-left: 20px">
          <a href="http://github.com/pair-code/saliency">
            <img src="images/code_icon.png" style="width: 100px"/><br>Code
          </a>
        </div>
      </div>
      <div class="title"><h1>Guided IG</h1></div>
      <div class="authors">Andrei Kapishnikov, Subhashini Venugopalan, Besim Avci, Ben Wedin, Michael Terry, Tolga Bolukbasi</div>
      <div class="team-link"><a href="https://research.google.com/">Google Research</a></div>
    </div>
  </div>
  <div class="descriptions">
    <h3>What are attribution methods?</h3>
    <div class="description">
        <p>Attribution methods link a deep neural network's prediction to the input features that most influence that prediction.  If the model makes a misprediction, we might want to know which features contributed to the misclassification. We can visualize the attribution scores for image models as a grayscale image with the same dimensions as the original image with brightness corresponding to the importance of the pixel.</p>
    </div>
    <h3>Computing sensitivity</h3>
    <div class="description">
      <p>There are many techniques to compute an attribution map for an image for a particular prediction. One popular method is <a href="https://arxiv.org/abs/1703.01365">Integrated Gradients</a> (IG), which has a solid theoretical foundation but it often produces noisy attributions.</p>
      <p>In our paper, we improve upon the Integrated Gradients method by introducing the concept of Adaptive Path Methods, which calculates attribution in a similar way to Integrated Gradients, but can take advantage of the knowledge of the model to dynamically construct a path that meets a desirable objective. Guided Integrated Gradients (Guided IG) minimizes noise by moving in the direction of lowest associated partial derivatives.</p>
      <p style="margin-top: 2em">
        <div class="imgs-container">
          <div class="img-container"></div>
          <div class="img-container">Integrated Gradients</div>
          <div class="img-container">Guided Integrated Gradients</div>
        </div>
        <div class="imgs-container">
          <div class="img-container">
            <img src="images/finch.png"/>
          </div>
          <div class="img-container">
            <img src="images/finch_ig.png"/>
          </div>
          <div class="img-container">
            <img src="images/finch_gig.png">
          </div>
        </div>
      </p>
      <p style="margin-top: 2em">
        <h3>Poster (CVPR 2021)</h3>
        <a href="docs/ICCV_XRAI_Poster.pdf" target="_blank">
          <img src="images/xrai_poster.png" style="width: 100%"/>
        </a>
      </p>
    </div>
    <div class="description" style="margin-top: 3em">
      <h3>Applying Guided IG on Images</h3>
      <p>Below, we compare Integrated Gradients and Guided IG as they apply to 200 randomly chosen images from the <a href="http://www.image-net.org/">ImageNet dataset</a> using the <a href="https://arxiv.org/abs/1512.00567">Inception V3 model</a>.
        We also compare the results of the XRAI method that uses Guided IG instead of Integrated Gradients as the base attribution.
      </p>
    </div>
  </div>
  <div class="attribution-container">
    <div id="headers">
      <span style="width: 4%"></span><!--
      --><span style="width: 39%">Image</span><!--
      --><span style="width: 19%">Pixel-level</span><!--
      --><span style="width: 19%">XRAI</span>
    </div>
    <div id="table-container">
      <div class="grad-wrt-container">
        <input type="checkbox" id="show-confident"/>
        Only show highly confident predictions
      </div>
      <div class="pointer-container">
        <img src="images/pointer.png" width="30px"/>
        Mouse over images
      </div>
      <table id="table" class="fewer-columns">
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
